# git aliases
alias gcss='gcs -s'

# creates new private repository via hub
alias hcpr='hub create -p'

# symfony
alias c='$(which symfony) console'
alias cdmm='c doctrine:migrations:migrate'
alias cdmp='cm prev'
